ul {
    list-style-type: none;
    padding: 0;
    max-width: 740px;
    margin: 0 auto;
}

.entry {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    cursor: pointer;
}
